article, aside, figure, figcaption, footer, header, nav, section {
    display: block;
}

body {
    background-color: floralwhite;
    font-family: Arial, sans-serif;
    font-size: 1.3em;
}

header {
    color: rebeccapurple;
    font-family: Papyrus, fantasy;
    font-size: 2em;
    text-align: center;
    padding: 20px;
}

#form {
    width: 50%;
    margin: auto;
}

label {
    padding: 10px;
}

input {
    line-height: 1.5em;
}

#weather {
    width: 80%;
    margin: auto;
}   